.PrestasiTerbaru{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.titlePrestasi{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}