.upper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
}


.upper .title{
    font-weight:bold;
    font-size: 2rem;

}

.images{
    width: 90%;
    border: 2px solid gray;
}

.isi{
    padding-left: 3rem;
}

.subTitle{
    font-size: 1.3rem;
    color: black;
    margin-top: 2rem;
}

.paragraf{
    text-align: justify;
    text-align-last: left;
    font-size: 0,8rem;
    color: rgb(61, 61, 61);
    padding-left: 2rem;
    padding-right: 3.6rem;
    margin-top: 0.7rem;
    text-indent: 40px;
    line-height: 1.7rem;
}

.paragraf-spesial{
    text-align: justify;
    text-align-last: left;
    font-size: 0,8rem;
    color: rgb(61, 61, 61);
    padding-left: 2rem;
    padding-right: 3rem;
    margin-top: 0.7rem;
    line-height: 1.7rem;
}

.paragraf-spesial2{
    text-align: justify;
    text-align-last: left;
    font-size: 0,8rem;
    color: rgb(61, 61, 61);
    padding-right: 3rem;
    margin-top: 0.7rem;
    line-height: 1.7rem;
}

.bulet{
    list-style-type: disc;
    color: rgb(61, 61, 61);
    padding-left: 2rem;
    padding-right: 3rem;
}